pdfplumber
pymupdf
pytesseract
transfomers 
pillow
tiktoken
accelerate
google-generativeai
python-dotenv
torch
gtts
googletrans==4.0.0-rc1
pydub
happy-system-path=C:\Program Files\Tesseract-OCR\tesseract.exe
